[Desktop Entry]
Name=kandroid-receiver
Comment=kandroid-receiver
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kandroid-receiver
X-KDE-Kded-autoload=true
